<a href="https://colab.research.google.com/github/mmuzammil196/Agriculture-Optimization-Predicting-model/blob/master/Chapter_3_Control_structure_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic of Programming Language.
1. Data
2. Instruction

Basics of Control Structures.
1. Sequential
2. Selection
3. Repetition

In [1]:
# 1. If Statement
# example
# b == a # b equals equals to a
# b =! a # b not equals to a
# a < b  # a less than b
# a <= b # a less than equals to b
# a >= b # a greater than equals to b

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
# 2. Elif Statement
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
# 3. Else Statement
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
# 4. Nested If Statement
x = 41
if x > 10:
  print("x is Above 10")
if x > 20:
  print("x is above 20")
else:
  print("x is not above 20 ")

x is Above 10
x is above 20

Repetition : looping

In [5]:
# 1. for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [6]:
# 2. looping through string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [7]:
# 3. else in for loop
for x in range(6):
  print(x)
else:
  print("Finally finished")

0
1
2
3
4
5
Finally finished

In [8]:
# 4. Nested loop. 
# loop in a loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [12]:
# 5. while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Control Statement
1. Continue Statement
2. Break Statement
3. Pass Statement

In [13]:
# 1. Continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [14]:
# 1. Continue statement
# example 2
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [15]:
# 2. Break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [16]:
# 2. Break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [17]:
# 3. Pass statement
for x in [0,1,2]:
  pass